$mix-percent-default: 15% !default;

@function assign-inputs($inputs, $pseudo: null) {
  $list: ();

  @each $input in $inputs {
    $input: unquote($input);
    $input: if($pseudo, $input + ":" + $pseudo, $input);
    $list: append($list, $input, comma);
  }

  @return $list;
}
@function shade($color, $percent: $mix-percent-default){
	@return mix(black, $color, $percent);
}
@function tint($color, $percent: $mix-percent-default){
	@return mix(white, $color, $percent);
}